.git
.github
node_modules
vendor
.env
.env.*
*.log
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
docfile.zip
*.ps1
*.py
k6
out
wawancara.md
yangBlm.md
